@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400&display=swap");
body {
	font-family: 'Sen', sans-serif !important;
}
.card{
	border-radius: 5px;
	padding: 50px 50px;
	border: none;
	box-shadow: 1px 1px 10px lightgray;
}
.input-group-text i:active,
.form-control:focus,
input[type="text"]:focus,
input[type="number"]:focus {
  box-shadow: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 5px #024FB7 !important;
  outline: 0 none !important;
}
label {
	font-weight: 600;
}